#sliderWrapper {
   position: relative;
   width: 100px;
   height: 100px;
   border: 1px green dotted;
   margin: 30px 0 0 150px;
   overflow:hidden;
  }

  #sliderWrapper ul {
     /* currently using image and text inside it by default.
      * To show something else, need to set font-size
      */
     font-size: 0px;
     white-space: nowrap;
     position: absolute;
     top: 0;
     left: 0px;
     margin: 0; padding: 0;
  }

  #sliderWrapper ul li {
     display: inline-block;
     vertical-align: top;
     width: 96px;
     height: 96px;
     white-space: normal;
     padding: 2px;
  }

  button {
    font: 40px "Courier New";
    border: 1px #d8d8d8 dotted;
    color: #626262;
    background: none;
    cursor: pointer;
    width: 50px;
    text-align: center;
    margin: 20px -150px 0 150px;
  }

  p {
    font-size: 12px;
    margin-left: 150px;
  }

  label, a {
     font: 14px Georgia;
     font-style: italic;
     color: #626262;
  }

  .animation {
    transition: left 0.5s linear;
    -webkit-transition: left 0.5s linear;
    -webkit-transition: left 0.5s linear;
    -o-transition: left 0.5s linear;
    -ms-transition: left 0.5s linear;
  }
